//Fichiers sass de styles spécifiques 
.footer{
    
    background-color:$greydarck-color;
    color: $white-color;
    padding: 25px 30px;  
    @include flex-col;
        
    &__logo{
        margin-top: 0px;
        font-size: 18px;
        font-weight: 400;
        @include shrikhand;
    }

    &__link{
        
        display: flex;
        align-items: center;
        color: $white-color;
        height: 25px;
        gap: 10px;

        // &__p:first-child{
        //     margin-left:9px;
        // }
       
    }
    
    &__p{
        margin-left: 5px;
    }
       
    
     @media (min-width: 1024px){
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100px;
        gap: 20px;

        .footer__logo{
            order: 5;
            margin: 0px 0px 7px 20px;   
        }
    }
}
.margin{
    margin-right: 5px;
}
