
.button {
    border-radius: 25px;
    height: 50px;
    border: transparent;
    margin: 0 auto;
    width: 218px;
    margin-bottom: 30px;
    background:$background;
    @include btn-shadow;
  }

.button:hover{
  background: $background;
}